@use "../../theme.scss" as *;

.Button {
  background-color: $disabled;
  border: none;
  color: $text;
  width: 100px;
  padding: 10px 20px;
  border-radius: 7px;
  font-weight: bold;

  &:hover {
    outline: auto;
  }

  &_True {
    background-color: $accent;
    color: $grey;
  }
}
