@use "../../theme.scss" as *;

.Page {
  display: flex;
}

.Img {
  height: 500px;
}

.Info {
  padding: 50px;
  display: flex;
  flex-direction: column;
  margin: $smLm;
}

.Variants {
  display: flex;
}

.Qua {
  display: flex;

  > button {
    width: 30px;
  }
}
