@use "../../theme.scss" as *;

h1 {
  font-size: $size2;
}
.Page {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
  margin: auto;
  padding: 50px 0 0 50px;
  gap: 40px;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.Info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.Item {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 500px;

  &_Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
}

.Quantity {
  display: flex;
  justify-content: center;
  align-items: center;

  > input {
    border: 1px soild grey;
    width: 80px;
    text-align: center;
    box-shadow: none;
    font-size: 18px;
    height: 48px;

    &:hover {
      border-color: 1px solid #ffb3e4;
      box-shadow: none;
      transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
    }

    &:focus {
      border-color: #ffb3e4;
      outline: 0;
      box-shadow: none;
      transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
    }
  }
}

article {
  margin: auto;
}

.Desc {
  text-align: justify;
}

.Button {
  margin: 2px;
  background-color: #ffb3e4;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  padding: 10px;
  height: 54px;
  cursor: pointer;
  > img {
    width: 20px;
    padding: 5px;
    filter: invert(97%) sepia(0%) saturate(7478%) hue-rotate(131deg)
      brightness(105%) contrast(95%);
  }
}

select {
  border: 1px soild grey;
  width: 200px;
  text-align: center;
  box-shadow: none;
  font-size: 18px;
  height: 54px;

  &:hover {
    border-color: 1px solid #ffb3e4;
    box-shadow: none;
    transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
  }

  &:focus {
    border-color: #ffb3e4;
    outline: 0;
    box-shadow: none;
    transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
  }
}

.Type {
  display: flex;
  flex-direction: column;

  align-items: end;
  height: 130px;
}

.Clear {
  margin: 2px;
  background-color: #ffb3e4;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 100px;
  height: 40px;
}
