@use "../../theme.scss" as *;

.Card {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: -2px 14px 19px -4px rgba(207, 206, 191, 0.75);
  padding-bottom: 40px;
  &_Details {
    padding: 10px;
  }
}

.Img {
  height: 300px;
  padding: 5px;
}

.Brand {
  text-transform: uppercase;
  color: $label;
}
