$font: "Poppins", sans-serif;

$text: #565360;
$label: #908e9b;
$disabled: #e1dfe9;

$primary: #793bdd;
$accent: #4a89a4;
$grey: #f2f5f5;

$fontSizeSml: 12px;
$fontSizeMed: 16px;
$fontSizeLge: 24px;

$smLs: 4px;
$smLm: 8px;
$smLl: 12px;
