// .Shop {
//   &_Cat {
//     display: none;
//     position: relative;
//     top: 100%;
//     left: 0;
//     padding: 0;
//     margin: 0;
//     background-color: #fff;
//     border: 1px solid #ccc;
//   }
// }

// .Shop:hover .Shop_Cat {
//   display: block;
// }

nav {
  display: flex;
  justify-content: space-around;
}

.nav__categories {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
}

.nav__shop:hover .nav__categories {
  display: block;
  border: 1px solid black;
}
