.Nav {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 70px;
  background-image: linear-gradient(
    to bottom,
    rgba(190, 224, 220, 0.9) 0%,
    rgba(190, 224, 220, 0.2) 100%
  );
  color: #646464;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 14px;
}

.Link {
  padding: 30px;
}
